@import "/home/vk/.cache/wal/colors-waybar.css";

* {
    font-family: Lilex-Regular;
    font-size: 12px;
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
}

window#waybar {
    background: transparent;
}

.modules-left, .modules-center, .modules-right {
    background: @color0;
}

window#waybar > box {
    background: @color0;
    border-radius: 6px;
}

#workspaces {
    padding: 0 10px;
}

#workspaces button {
    padding: 0 6px;
    color: @color8;
    background: transparent;
    border-radius: 0;
}

#workspaces button.focused {
    color: @color4;
}

#clock {
    color: @color4;
    padding: 0 16px;
}

#battery {
    color: @color6;
    padding: 0 14px;
}

#battery.critical {
    color: @color1;
}

#mpris {
    color: @color5;
    padding: 0 14px;
    font-style: italic;
}

#mpris.paused {
    color: @color8;
}
